*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.news {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.all-news {
  width: 800px;
}

.news-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 16px;
}

.news-item {
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.news-item p a {
  color: unset
}

.icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.news-header {
  display: flex;
  justify-content: space-between;
}

.news-buttons {
  display: flex;
  gap: 12px;
}

.news-buttons button {
  border: none;
  background-color: transparent;
  color: rgb(44, 18, 133);
  font-size: 20px;
  font-weight: bold;
}

.currency-list {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  gap: 20px
}

.main-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
}

.main-news-img {
  border-radius: 50%;
  width: 100px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 1400px;
    margin: 20px auto;
}

.search img {
  width: 10%
}

.links-list {
  display: flex;
  justify-content: start;
  gap: 16px
}

.quick-search {
  width: 90%;
}

.input {
  display: flex;
  justify-content: space-between;
  border: 2px solid yellow;
}

.input button {
  background-color: yellow;
  border: none;
  width: 15%;
}

.input input {
  width: 100%;
  height: 36px;
  border: none;
}

.banner {
  width: 1100px;
  margin: auto;
}

.tab-list {
  width: 1200px;
  margin: 20px auto;
  
}

.tab-list ul {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  align-content: center;
}

.tab {
  width: 300px;
}

.tab h2 {
  margin-bottom: 20px;
}

